.basket-container {
  display: grid;
  padding: 20px;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-columns: 0.1fr 1fr 0.1fr;

  .basket-title {
    grid-column: 1 / span 2;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
  }

  .basket-button {
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
  }
}

.basket-table {
  grid-column: 1 / span 3;

  grid-template-rows: 0.25fr 1fr 0.25fr 0.25fr;
  column-gap: 20px;
  padding-left: 10px;
  .basket-table-header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }

  hr {
    margin-bottom: 20px;
    border: 1px solid gray;
  }
}

.basket-quantity {
  font-size: 18px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 0.1fr 0.05fr 0.1fr 0.1fr;

  cursor: pointer;

  &:first-child {
    cursor: default;
  }
}
.basket-price {
  font-size: 20px;
  font-weight: bold;
}
